@model TestConfig

<div class="editor-label">
    @Html.LabelFor(model => model.ClientId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ClientId,new SelectList(Common.GetClientList(),"Id","Name"),String.Empty)
    @Html.ValidationMessageFor(model => model.ClientId)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ProductTypeId)
</div>
@Html.FilterCombox(Html.DropDownListFor(model => model.ProductTypeId, new SelectList(new List<ProductType>(), "Id", "FullName"), String.Empty, new { @class = "filter inputcombox-combox" }))
@Html.ValidationMessageFor(model => model.ProductTypeId)
