@model BaseModel

@{
    ViewBag.Title = "新建";
}

<h2>@ViewBag.Name:@ViewBag.Title</h2>

@using (Html.BeginForm("CreateSave", (string)ViewBag.Controller))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
        @Html.EditorForModel()
        <p>
            <input type="submit" value="保存" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
