@model BaseModel
@Html.HiddenFor(model => model.Id)

@Html.Action("AbstractEdit", Model.Id)

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.IsDeleted)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsDeleted)
    @Html.ValidationMessageFor(model => model.IsDeleted)
</div>
