@model ProductType
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ModelName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ModelName)
    @Html.ValidationMessageFor(model => model.ModelName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Knumber)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Knumber)
    @Html.ValidationMessageFor(model => model.Knumber)
</div>