@model TestItem
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.TestItemCategoryId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.TestItemCategoryId, new SelectList(Common.GetTestItemCategoryList(), "Id", "Name"), String.Empty)
    @Html.ValidationMessageFor(model => model.TestItemCategoryId)
</div>