@Html.IndexPageInit()
<h2>@ViewBag.Name</h2>
@using (Ajax.BeginForm(null, null, (AjaxOptions)ViewBag.AjaxOpts, new { id = "searchForm" }))
{
    <table>
        <tr>
            <td>
                <span class="searchLabel">测试时间</span>
            </td>
            <td>
                <span class="searchLabel">测试站</span>
            </td>
            <td>
                <span class="searchLabel">机台</span>
            </td>
            <td>
                <span class="searchLabel">测试员</span>
            </td>
            <td>
                <span class="searchLabel">产品型号</span>
            </td>
            <td>
                <span class="searchLabel">客户</span>
            </td>
        </tr>
        <tr>
            @Html.Hidden("returnRoot", (string)ViewBag.ReturnRoot)
            @Html.Hidden("actionAjax", (string)ViewBag.Action)
            @Html.Hidden("filter")
            @Html.Hidden("export", false)
            @Html.Hidden("testitems")
            @Html.Hidden("exportReport", false)
            <td>
                @Html.TextBox("TestTime@>=", null, new { @class = "filter Wdate", style = "width: 100px;", onFocus = "WdatePicker(({lang:'zh-cn'}))" })
                @Html.DropDownList("TestTimeStartHour@>=", new SelectList(ViewBag.Hours, "Value", "Text"), String.Empty, new { @class = "filter", style = "width: 50px;" })
                至
                @Html.TextBox("TestTime@<=", null, new { @class = "filter Wdate", style = "width: 100px;", onFocus = "WdatePicker(({lang:'zh-cn'}))" })
                @Html.DropDownList("TestTimeStopHour@<=", new SelectList(ViewBag.Hours, "Value", "Text"), String.Empty, new { @class = "filter", style = "width: 50px;" })
            </td>
            <td>
                @Html.DropDownList("TestStationId@=", new SelectList(Common.GetTestStationList(), "Id", "Name"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.TextBox("DrillingCrew@%", null, new { @class = "filter", style = "width: 100px;"})
            </td>
            <td>
                @Html.DropDownList("CamelDotNetUserId@=", new SelectList(Common.GetCamelDotNetUserList(), "Id", "UserName"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.DropDownList("ProductTypeId@=", new SelectList(Common.GetProductTypeInTestConfigList(), "Id", "FullName"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.DropDownList("ClientId@=", new SelectList(Common.GetClientList(), "Id", "Name"), String.Empty, new { @class = "filter", style = "width: 100px;" })
            </td>
        </tr>
        <tr>
            <td>
                <span class="searchLabel">序列号</span>
            </td>
            <td>
                <span class="searchLabel">盘号</span>
            </td>
            <td>
                <span class="searchLabel">班组</span>
            </td>
            <td>
                <span class="searchLabel">工单号</span>
            </td>
            <td>
                <span class="searchLabel">不合格</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("SerialNumber.Number@%", null, new { @class = "filter"})
            </td>
            <td>
                @Html.TextBox("ReelNumber@%", null, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.TextBox("WorkGroup@%", null, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.TextBox("OrderNumber@%", null, new { @class = "filter", style = "width: 100px;" })
            </td>
            <td>
                @Html.CheckBox("TestResult@=", false, new { @class = "filter" })
            </td>
            <td>
                <button id="btSearch" type="submit">查询</button>
                <button id="btExport" type="submit">导出</button>
                <button id="btExportReport" type="submit">导出报告</button>
            </td>
        </tr>
    </table>
}
<div id="AjaxBody">
    @Html.Action((string)ViewBag.Action, (RouteValueDictionary)(ViewBag.RV))
</div>
<!-- testitems dialog -->
<div id="dialog" title="选择测试项">
    @foreach (var item in Common.GetTestItemElecList())
    {
        <input type="checkbox" class="testitem" value="@item.Id">@item.Name<br />
    }
</div>

<!-- jquery ui css-->
@section Styles {
    @Styles.Render("~/Content/themes/base/css")
    <link href="@Url.Content("~/Scripts/My97DatePicker/skin/WdatePicker.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cw")
    <script type="text/javascript" src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")"></script>
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) { setFilter(); });

            $("#btSearch").click(function () {
                //set export False
                $("#export").val("False");
                //set export report False
                $("#exportReport").val("False");
                $("#searchForm").attr("data-ajax", "true")
                $("#searchForm").attr("data-ajax-url", "/VnaTestRecord/Get");
            });

            $("#btExport").click(function () {
                //set export True
                $("#export").val("True");
                //set export report False
                $("#exportReport").val("False");
                $("#searchForm").attr("data-ajax", "false")
                $("#searchForm").attr("action", "/VnaTestRecord/Get");
            });

            $("#btExportReport").click(function (event) {
                $("#dialog").dialog("open");
                event.preventDefault();
            });

            //testitem dialog
            $("#dialog").dialog({
                autoOpen: false,
                width: 400,
                buttons: [
                    {
                        text: "确定",
                        click: function () {
                            $(this).dialog("close");
                            //set export report true
                            $("#exportReport").val("True");
                            $("#testitems").attr("value","");
                            $("input:checkbox.testitem").each(function () {
                                var checkedValue = (this.checked ? $(this).val() : "");
                                if (checkedValue != "")
                                {
                                    $("#testitems").attr("value", $("#testitems").val() + checkedValue + ",");
                                }
                            });
                            $("#searchForm").attr("data-ajax", "false")
                            $("#searchForm").attr("action", "/VnaTestRecord/Get");
                            $("#searchForm").submit();
                        }
                    },
                    {
                        text: "取消",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });
    </script>
}