@model ProductType
<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Name)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.ModelName)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.ModelName)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Knumber)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.Knumber)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.IsDeleted)
</div>
<div class="editor-field">
    @Html.DisplayFor(model => model.IsDeleted)
</div>
