@model TestConfig

@{
    ViewBag.Title = "复制";
}

<h2>@ViewBag.Name:@ViewBag.Title</h2>

<h3>您确定要复制此条记录么?</h3>

@Html.Action("Abstract", (string)ViewBag.Controller, new { id = Model.Id })

<div>
    @using (Html.BeginForm("CopySave", (string)ViewBag.Controller))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.Id)
        @Html.Hidden("returnUrl", @Url.Content((string)ViewBag.ReturnUrl))

        <input type="submit" value="确认复制" />
    }
    <a href="@Url.Content((string)ViewBag.ReturnUrl)">取消</a>
</div>
